.lower-section {
  position: relative;
  padding: 5rem 1.5rem 7.75rem 1.5rem;

  &-image {
    position: relative;
    box-shadow: 0px 40px 35px -10px #bbb;
    margin-bottom: 3rem;
    > picture {
      > img {
        display: block;
        width: 100%;
      }
    }

    // Before pseudo selector styling.
    &::before {
      content: url(../images/patterns/pattern-lines.svg);
      position: absolute;
      top: -2.375rem;
      right: 29.4375rem;
      z-index: 1;
      display: none;
    }
  }

  // Curve design styling
  &-curve-design {
    position: absolute;
    top: 0rem;
    right: 24.375rem;
    z-index: -1;
    display: none;
  }

  // Main section styling
  &-main {
    width: 100%;
    .btn-container {
      width: 100%;
      text-align: center;
      margin-bottom: 1.5rem;

      .headings:not(:last-child) {
        margin-bottom: 1rem;
      }

      > h3 {
        color: #4c4c4c;
        cursor: pointer;
        .under-line {
          width: 3rem;
          border: 1px $beaver-color solid;
          margin: 0 auto;
          height: 1px;
          background-color: $beaver-color;
        }
      }
    }
    .info {
      max-width: 28.5625rem;
    }
    .info > h2 {
      text-transform: capitalize;
      font-size: 2rem;
      line-height: 2.5rem;
      letter-spacing: -0.4px;
      color: $ebony-clay-color;
      text-align: center;
      margin-bottom: 1rem;
    }
    .info > p {
      color: $ebony-clay-color;
      text-align: center;
      margin-bottom: 2rem;
    }

    .info > button {
      border: 1px $cod-gray-color solid;
    }
  }
}

// Media queries

// For width 768px and above
@include breakpoint-up(medium) {
  .lower-section {
    padding: 7.5rem 2.5rem;
    &-image {
      max-width: 35.8125rem;
      margin-bottom: 3.5rem;

      &::before {
        display: block;
      }
    }

    &-curve-design {
      display: block;
    }

    &-main {
      .btn-container {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2.5rem;

        .headings:last-child {
          margin-bottom: 1rem;
        }
      }

      .info > h2 {
        font-size: 2.5rem;
        line-height: 3.5rem;
        letter-spacing: -0.5px;
      }

      .info > p {
        font-size: 1.125rem;
        line-height: 1.875rem;
        letter-spacing: -0.22px;
      }
    }
  }
}

// For width 1024px and above
@include breakpoint-up(large) {
  .lower-section {
    padding-left: 10.3125rem;
    padding-right: 10.3125rem;
    &::before {
      left: 10.3125rem;
    }

    &-curve-design {
      left: 0rem;
    }
    &-main {
      .btn-container {
        justify-content: space-between;
      }
    }
  }
}

// For width 1300px and above
@include breakpoint-up(x-large) {
  .lower-section {
    .wrapper {
      margin: 0 auto;
      max-width: 69.375rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10rem;
    padding-bottom: 10rem;

    &-main {
      padding-left: 7.8125rem;
      flex-direction: column-reverse;
      width: auto;
      .btn-container {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;

        > h3 {
          position: relative;
          .under-line {
            position: absolute;
            top: 40%;
            width: 5.9375rem;
            left: -7.8125rem;
          }
        }
      }

      .info {
        margin-bottom: 4.875rem;
        align-items: flex-start;
        > h2 {
          text-align: left;
        }

        > p {
          text-align: left;
        }
      }
    }
  }
}
