.upper-section {
  position: relative;

  &-info {
    overflow: hidden;
  }
  &-col {
    position: relative;
    top: -4.5rem;
    right: 0rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 5rem;
    .img {
      overflow: hidden;
      > img {
        display: block;
        width: 100%;
        box-shadow: 0px 72px 50px -10px #bbb;
      }
    }

    .info {
      max-width: 20.4375rem;
      margin-top: 3rem;
      .divide {
        margin-bottom: 2rem;
      }
      > h2 {
        text-align: center;
        font-size: 2rem;
        line-height: 2.5rem;
        letter-spacing: -0.4px;
        margin-bottom: 1rem;
        color: $ebony-clay-color;
      }
      > p {
        text-align: center;
        color: $ebony-clay-color;
      }
    }

    .design-curve-1 {
      display: none;
      position: absolute;
      top: 12.25rem;
      right: 24.375rem;
    }

    .design-curve-2 {
      display: none;
      width: 50%;
      overflow: hidden;
      position: absolute;
      top: 29.5625rem;

      right: 0rem;
    }
  }
}

// Media Queries

// For width 768px and above
@include breakpoint-up(medium) {
  .upper-section {
    &-col {
      top: -6rem;
      margin-bottom: 7.5rem;
      padding-right: 6.125rem;
      padding-left: 6.125rem;
      .img {
        > img {
          box-shadow: 0px 96px 50px -10px #bbb;
        }
      }
      .image1 {
        > img {
          content: url(../images/homepage/enjoyable-place-tablet@2x.jpg);
        }
      }

      .image2 {
        > img {
          content: url(../images/homepage/locally-sourced-tablet@2x.jpg);
        }
      }

      .info {
        max-width: 28.5625rem;
        margin-top: 3.5rem;
        .divide {
          margin-bottom: 3rem;
        }
        > h2 {
          font-size: 2.5rem;
          line-height: 3.5rem;
          letter-spacing: -0.5px;
        }
        > p {
          font-size: 1.125rem;
          line-height: 1.875rem;
          letter-spacing: -0.22px;
        }
      }

      .design-curve-1 {
        display: block;
      }
      .design-curve-2 {
        display: block;
      }
    }

    &-col-2 {
      margin-bottom: 0rem;
      &::after {
        content: url(../images/patterns/pattern-lines.svg);
        position: absolute;
        top: 14.25rem;
        right: 2.5rem;
      }
    }
  }
}

// For width 1024px and above
@include breakpoint-up(large) {
  .upper-section {
    &-col {
      top: 0rem;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      padding-left: 5rem;
      padding-right: 5rem;
      .img {
        > img {
          width: 23rem;
          height: 31rem;
        }
      }

      .image1 {
        > img {
          content: url(../images/homepage/enjoyable-place-desktop@2x.jpg);
        }
      }
      .image2 {
        > img {
          box-shadow: none;
          content: url(../images/homepage/locally-sourced-desktop@2x.jpg);
        }
      }

      .design-curve-2 {
        top: 15rem;
      }

      .info {
        align-items: flex-start;
        > h2 {
          text-align: left;
        }
        > p {
          text-align: left;
        }
      }
    }
    &-col-1 {
      top: -2.5rem;
      margin-bottom: 0rem;
      .info-1 {
        margin-left: 5rem;
      }
    }
    &-col-2 {
      top: 2.5rem;
      flex-direction: row-reverse;
      .info-2 {
        margin-right: 5rem;
      }
    }
  }
}

// For width 1300px and above
@include breakpoint-up(x-large) {
  .upper-section {
    &-col {
      top: 0rem;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      padding-left: 10.3125rem;
      padding-right: 10.3125rem;
      .img {
        > img {
          width: 33.75rem;
          height: 45rem;
        }
      }
      .image1 {
        > img {
          content: url(../images/homepage/enjoyable-place-desktop@2x.jpg);
        }
      }
      .image2 {
        > img {
          content: url(../images/homepage/locally-sourced-desktop@2x.jpg);
        }
      }

      .design-curve-1 {
        left: 0rem;
        top: 20rem;
        right: 34.0625rem;
      }

      .design-curve-2 {
        top: 20rem;
        width: 55.9375rem;
      }
    }
    &-col-1 {
      top: -4.375rem;
      margin-bottom: 0rem;
    }
    &-col-2 {
      top: 5rem;
      flex-direction: row-reverse;
    }
  }
}
